name: Build and Publish Docker Images

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build ${{ matrix.arch }} image
    strategy:
      matrix:
        arch: [amd64, aarch64, armv7, armhf]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
                      build-args: |
              BUILD_FROM=${{ matrix.arch == 'amd64' && 'ghcr.io/home-assistant/amd64-base:3.19' || matrix.arch == 'aarch64' && 'ghcr.io/home-assistant/aarch64-base:3.19' || matrix.arch == 'armhf' && 'ghcr.io/home-assistant/armhf-base:3.19' || 'ghcr.io/home-assistant/armv7-base:3.19' }}
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/pantry-tracker-extended-${{ matrix.arch }}:latest,ghcr.io/${{ github.repository_owner }}/pantry-tracker-extended-${{ matrix.arch }}:1.0.0
